<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments.html :: head"></head>
<body>
<nav th:replace="fragments.html :: main-nav"></nav>
<div class="container">
    <div class="row py-4 text-left justify-content-center bg-light">
        <div class="col-6">
            <span class="h2">
                <a href="#" class="text-decoration-none"><span th:text="${event.title}">파티 이름</span></a>
            </span>
        </div>
        <div class="col-4 text-right justify-content-end">
            <div th:if="${event.isNotClosed()}">
                <span sec:authorize="isAuthenticated()" th:if="${account.role == T(com.partyhelper.modules.account.Role).PROVIDER}">
                    <button th:if="${event.isEnrollableFor(account)}"
                            class="btn btn-outline-primary" data-toggle="modal" data-target="#enroll">
                        <i class="fa fa-plus-circle"></i> 참가 신청
                    </button>
                    <button th:if="${event.isDisenrollableFor(account)}"
                            class="btn btn-outline-danger" data-toggle="modal" data-target="#disenroll">
                        <i class="fa fa-minus-circle"></i> 참가 신청 취소
                    </button>
                </span>
                <span sec:authorize="isAuthenticated()" th:if="${account.role != T(com.partyhelper.modules.account.Role).PROVIDER}">
                    <button class="btn btn-success" data-toggle="modal" disabled>
                        <i class="fa fa-plus-circle"></i> 모집 중 입니다.
                    </button>
                </span>
            </div>
            <div th:if="${!event.isNotClosed()}">
                <button class="btn btn-warning" data-toggle="modal" disabled>
                    <i class="fa fa-minus-circle"></i> 참가 신청이 마감 되었습니다.
                </button>
            </div>
        </div>
        <div class="modal fade" id="disenroll" tabindex="-1" role="dialog" aria-labelledby="leaveTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="leaveTitle" th:text="${event.title}"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>해당 이벤트 담당 업체 참가 신청을 취소하시겠습니까?</p>
                        <p><strong>확인</strong>하시면 본 참가 신청을 취소하고 다른 업체에게 담당 기회를 줍니다.</p>
                        <p>감사합니다.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                        <form th:action="@{'/event/' + ${event.path} + '/disenroll'}" method="post">
                            <button class="btn btn-primary" type="submit" aria-describedby="submitHelp">확인</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="enroll" tabindex="-1" role="dialog" aria-labelledby="enrollmentTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="enrollmentTitle" th:text="${event.title}"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>모임에 참석하시겠습니까? 일정을 캘린더에 등록해 두시면 좋습니다.</p>
                        <p><strong>확인</strong> 버튼을 클릭하면 이벤트 담당 업체 참가 신청을 합니다.</p>
                        <p>감사합니다.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                        <form th:action="@{'/event/' + ${event.path} + '/enroll'}" method="post">
                            <button class="btn btn-primary" type="submit" aria-describedby="submitHelp">확인</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row px-3 justify-content-center">
        <div class="col-7 pt-3">
            <dt class="font-weight-light">상세 모임 설명</dt>
            <dd th:utext="${event.description}"></dd>
            <hr>

            <div th:if="${event.isManager(account)}">
                <div class="row">
                    <div class="col-8">
                        <dt class="font-weight-light">태그를 등록하세요. 태그를 입력하고 콤마(,) 또는 엔터를 입력하세요.</dt>
                        <div id="taglist" th:text="${taglist}" hidden></div>
                        <input id="tags" type="text" name="tags" th:value="${#strings.listJoin(tags, ',')}" class="tagify-outside" aria-describedby="tagHelp">
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-8">
                        <dt class="font-weight-light">파티를 하는 지역을 등록하세요. 시스템에 등록된 지역만 선택할 수 있습니다.</dt>
                        <div id="zonelist" th:text="${zonelist}" hidden></div>
                        <input id="zones" type="text" name="zones" th:value="${#strings.listJoin(zones, ',')}" class="tagify-outside">
                    </div>
                </div>
                <hr>
            </div>

            <div th:if="${!event.isManager(account)}">
                <p class="card-text context">
                    <span th:each="tag: ${event.tags}" class="font-weight-light text-monospace badge badge-pill badge-info mr-3">
                        <a th:href="@{'/search/tag/' + ${tag.title}}" class="text-decoration-none text-white">
                            <i class="fa fa-tag"></i> <span th:text="${tag.title}">Tag</span>
                        </a>
                    </span>
                    <span th:each="zone: ${event.zones}" class="font-weight-light text-monospace badge badge-primary mr-3">
                        <a th:href="@{'/search/zone/' + ${zone.id}}" class="text-decoration-none text-white">
                            <i class="fa fa-globe"></i> <span th:text="${zone.localNameOfCity}" class="text-white">City</span>
                        </a>
                    </span>
                </p>
                <hr>
            </div>

            <dt class="font-weight-light">이벤트 참가 업체 (<span th:text="${enrollmentSize}"></span>)</dt>
            <dd>
                <div th:if="${enrollmentSize == 0}" class="col">
                    새 모임이 없습니다.
                </div>
                <table class="table table-borderless table-sm" th:if="${enrollmentSize > 0}">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">업체명</th>
                        <th scope="col">참가 신청 일시</th>
                        <th scope="col">업체 선정</th>
                        <th th:if="${event.isManager(account)}" scope="col">
                            참가 신청 관리
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="enroll: ${event.enrollments}">
                        <th scope="row" th:text="${enrollStat.count}"></th>
                        <td>
                            <a th:href="@{'/profile/' + ${enroll.account.email}}"
                               class="text-decoration-none">
                                <svg th:if="${#strings.isEmpty(enroll.account?.profileImage)}" data-jdenticon-value="nickname"
                                     th:data-jdenticon-value="${enroll.account.nickname}" width="24" height="24" class="rounded border bg-light"></svg>
                                <img th:if="${!#strings.isEmpty(enroll.account?.profileImage)}"
                                     th:src="${enroll.account?.profileImage}" width="24" height="24" class="rounded border"/>
                                <span th:text="${enroll.account.nickname}"></span>
                            </a>
                        </td>
                        <td>
                            <span class="date-time" th:text="${enroll.enrolledAt}"></span>
                        </td>
                        <td>
                            <span th:if="${enroll.accepted}">확정</span>
                            <span th:if="${!enroll.accepted}">대기중</span>
                        </td>
                        <td th:if="${event.isManager(account)}">
                            <form th:if="${event.canAccept(enroll)}" th:action="@{'/event/' + ${event.path} + '/enrollment/' + ${enroll.id} + '/accept'}" method="post">
                                <button class="btn btn-outline-primary" type="submit" aria-describedby="submitHelp">신청 수락</button>
                            </form>
                            <form th:if="${event.canReject(enroll)}" th:action="@{'/event/' + ${event.path} + '/enrollment/' + ${enroll.id} + '/reject'}" method="post">
                                <button class="btn btn-outline-danger" type="submit" aria-describedby="submitHelp">거부</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </dd>
        </div>
        <dl class="col-3 pt-3 text-right">
            <dt class="font-weight-light">모집 방법</dt>
            <dd class="text-success">
                <span th:if="${event.eventType == T(com.partyhelper.modules.event.EventType).CONFIRMATIVE}">관리자 확인</span>
                <span th:if="${event.eventType == T(com.partyhelper.modules.event.EventType).FCFS}">선착순</span>
            </dd>

            <dt class="font-weight-light">인원 수</dt>
            <dd>
                <span th:text="${event.personnel}"></span>명
            </dd>

            <dt class="font-weight-light">모집 업체 수</dt>
            <dd>
                <span th:text="${event.limitOfEnrollments}"></span>개
            </dd>

            <dt class="font-weight-light">모집 마감 시기</dt>
            <dd class="text-danger">
                <span class="date " th:text="${event.getEnrollmentTime()}"></span>
                <span class="weekday" th:text="${event.getEnrollmentTime()}"></span>
                <span class="time" th:text="${event.getEnrollmentTime()}"></span>
            </dd>

            <dt class="font-weight-light">파티 기간</dt>
            <dd>
                <span class="date" th:text="${event.startDateTime}"></span>
                <span class="weekday" th:text="${event.startDateTime}"></span>
                <span class="time" th:text="${event.startDateTime}"></span>
                <br/> ~
                <span class="date" th:text="${event.endDateTime}"></span>
                <span class="weekday" th:text="${event.endDateTime}"></span>
                <span class="time" th:text="${event.endDateTime}"></span>
            </dd>

            <dt class="font-weight-light">모임장</dt>
            <dd>
                <a th:href="@{'/profile/' + ${event.createdBy?.email}}" class="text-decoration-none">
                    <svg th:if="${#strings.isEmpty(event.createdBy?.profileImage)}"
                         th:data-jdenticon-value="${event.createdBy?.nickname}" width="24" height="24" class="rounded border bg-light"></svg>
                    <img th:if="${!#strings.isEmpty(event.createdBy?.profileImage)}"
                         th:src="${event.createdBy?.profileImage}" width="24" height="24" class="rounded border"/>
                    <span th:text="${event.createdBy?.nickname}"></span>
                </a>
            </dd>

            <dt th:if="${event.isManager(account)}" class="font-weight-light">모임 관리</dt>
            <dd th:if="${event.isManager(account)}">
                <a class="btn btn-outline-primary btn-sm my-1"
                   th:href="@{'/event/' + ${event.path} + '/edit'}" >
                    파티 수정
                </a> <br/>
                <button class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#cancel">
                    파티 취소
                </button>
            </dd>
        </dl>
        <div class="modal fade" id="cancel" tabindex="-1" role="dialog" aria-labelledby="cancelTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="cancelTitle" th:text="${event.title}"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>파티를 취소 하시겠습니까?</p>
                        <p><strong>확인</strong>하시면 본 파티 및 참가 신청 관련 데이터를 삭제합니다.</p>
                        <p>감사합니다.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                        <form th:action="@{'/event/' + ${event.path} + '/delete'}" method="post">
                            <button class="btn btn-primary" type="submit" aria-describedby="submitHelp">확인</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments.html :: footer"></div>
</div>
<script th:replace="fragments.html :: date-time"></script>
<script th:replace="fragments.html :: ajax-csrf-header"></script>
<script th:replace="fragments.html :: update-tags(baseUrl='/event/' + ${event.path} + '/tags')"></script>
<script th:replace="fragments.html :: update-zones(baseUrl='/event/' + ${event.path} + '/zones')"></script>
</body>
</html>