<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>PartyHelper</title>
</head>
<body>
<h1>Oauth2</h1>

<span th:if="${!#strings.isEmpty(account.name)}">
    Logged in as: <span th:text="${account.name}">userName</span>
</span>

<span th:if="${#strings.isEmpty(account.name)}">
    <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google Login</a>
    <a href="/oauth2/authorization/naver" class="btn btn-secondary active" role="button">Naver Login</a>
</span>

</body>
</html>