<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body>
<section class="jumbotron text-center">
    <div class="container">
        <h1>PartyHelper</h1>
        <br>
        <p class="lead text-muted">
            해당 접근을 위해 전화번호를 입력하세요.<br/>
        </p>
        <p>
            <a th:href="@{/settings/profile}" class="btn btn-primary my-2">설정 페이지로 이동</a>
        </p>
    </div>
</section>
<div th:replace="fragments.html :: footer"></div>
</body>
</html>