<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
<div th:replace="fragments.html :: main-nav"></div>
<div class="alert alert-warning" role="alert" th:if="${account != null && !account?.emailVerified}">
    PartyHelper 가입을 완료하려면 <a href="#" th:href="@{/check-email(email=${account.email})}" class="alert-link">계정 인증 이메일을 확인</a>하세요.
</div>
<div class="container-sm mt-4">
    <div class="row">
        <div class="col-md-3">
            <h5 class="font-weight-light">관심 Party 주제</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item" th:each="tag: ${account.tags}">
                    <i class="fa fa-tag"></i> <span th:text="${tag.title}"></span>
                </li>
                <li class="list-group-item" th:if="${account.tags.size() == 0}">
                    <a th:href="@{/settings/tags}" class="btn-text">관심 태그</a>를 등록하세요.
                </li>
            </ul>
            <h5 class="mt-3 font-weight-light">주요 활동 지역</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item" th:each="zone: ${account.zones}">
                    <i class="fa fa-globe"></i> <span th:text="${zone.getLocalNameOfCity()}">Zone</span>
                </li>
                <li class="list-group-item" th:if="${account.zones.size() == 0}">
                    <a th:href="@{/settings/zones}" class="btn-text">주요 활동 지역</a>을 등록하세요.
                </li>
            </ul>
            <div th:if="${account.role != T(com.partyhelper.modules.account.Role).PROVIDER}">
                <h5 class="mt-3 font-weight-light">My 종료된 파티</h5>
                <div class="list-group" th:if="${!#lists.isEmpty(eventManagerOf) && !event.isNotClosed()}" th:each="event: ${eventManagerOf}">
                    <li class="list-group-item list-group-item-action">
                        <a class="text-success" href="#" th:href="@{'/event/' + ${event.path}}" th:text="${event.title}">Event title</a>
                        <small class="text-muted text-right date" th:text="${event.startDateTime}">9 mins</small>
                    </li>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div th:if="${account.role != T(com.partyhelper.modules.account.Role).PROVIDER}">
                <h5 class="font-weight-light" th:if="${#lists.isEmpty(eventManagerOf)}">관리중인 파티가 없습니다.</h5>
                <h5 class="font-weight-light" th:if="${!#lists.isEmpty(eventManagerOf)}">관리중인 파티</h5>
                <div class="row justify-content-center">
                    <div th:replace="fragments.html :: event-list (eventList=${eventManagerOf})"></div>
                </div>
            </div>
            <div th:if="${account.role == T(com.partyhelper.modules.account.Role).PROVIDER}">
                <h5 th:if="${#lists.isEmpty(enrollmentList)}" class="font-weight-light">업체로 확정된 파티가 없습니다.</h5>
                <h5 th:if="${!#lists.isEmpty(enrollmentList)}" class="font-weight-light">업체로 확정된 파티</h5>
                <div class="row row-cols-1 row-cols-md-2" th:if="${!#lists.isEmpty(enrollmentList)}">
                    <div class="col mb-4" th:each="enrollment: ${enrollmentList}">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title" th:text="${enrollment.event.title}">Event title</h5>
                                <!--                            <h6 class="card-subtitle mb-2 text-muted" th:text="${enrollment.event.title}">Event title</h6>-->
                                <p class="card-text">
                                <span>
                                    <i class="fa fa-calendar-o"></i>
                                    <span class="calendar" th:text="${enrollment.event.startDateTime}">Last updated 3 mins ago</span>
                                </span>
                                </p>
                                <a th:href="@{'/event/' + ${enrollment.event.path}}" class="card-link">파티 조회</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div th:if="${account.role == T(com.partyhelper.modules.account.Role).PROVIDER}">
                <h5 class="font-weight-light" th:if="${#lists.isEmpty(eventMemberOf)}">지원중인 파티가 없습니다.</h5>
                <h5 class="font-weight-light" th:if="${!#lists.isEmpty(eventMemberOf)}">지원중인 파티</h5>
                <div class="row justify-content-center">
                    <div th:replace="fragments.html :: event-list (eventList=${eventMemberOf})"></div>
                </div>
            </div>
            <hr>
            <h5 class="font-weight-light" th:if="${#lists.isEmpty(eventList)}">관련 파티가 없습니다.</h5>
            <h5 class="font-weight-light" th:if="${!#lists.isEmpty(eventList)}">주요 활동 지역의 관심 주제 파티</h5>
            <div class="row justify-content-center">
                <div th:replace="fragments.html :: event-list (eventList=${eventList})"></div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments.html :: footer"></div>
<div th:replace="fragments.html :: date-time"></div>
</body>
</html>